[Unit]
Description=Run FinGuard update weekly

[Timer]
Unit=finguard-update.service
OnCalendar={{ finguard_update_day }} *-*-* {{ finguard_update_time }}
Persistent=true
WakeSystem=true
RandomizedDelaySec=15m

[Install]
WantedBy=timers.target