[Unit]
Description=Run FinGuard update every {{ finguard_update_day }} at {{ finguard_update_time }}

[Timer]
OnCalendar={{ finguard_update_day }} *-*-* {{ finguard_update_time }}
Persistent=true

[Install]
WantedBy=timers.target