server {
    listen 80 default_server;
    listen [::]:80 default_server;
    server_name {{ hostname }}.local;

    {% if jellyfin_ip %}
    location / {
        proxy_pass         http://{{ jellyfin_ip }};
        proxy_set_header   Host            $host;
        proxy_set_header   X-Real-IP       $remote_addr;
        proxy_http_version 1.1;
        proxy_set_header   Connection      "";
    }
    {% endif %}
}