#!/bin/bash
# Script to renew the self-signed SSL certificate for {{ hostname }}

# Generate CSR
openssl req -new -key /etc/ssl/private/{{ hostname }}.key -out /etc/ssl/certs/{{ hostname }}.csr -subj "/CN={{ hostname }}" -addext "subjectAltName = DNS:{{ hostname }},DNS:{{ hostname }}.local"

# Generate self-signed certificate
openssl x509 -req -days 370 -in /etc/ssl/certs/{{ hostname }}.csr -signkey /etc/ssl/private/{{ hostname }}.key -out /etc/ssl/certs/{{ hostname }}.crt

# Reload nginx to apply the new certificate
systemctl reload nginx