[Unit]
Description=Update system status information for web dashboard
Before=network.target

[Service]
Type=oneshot
Environment="WG_INTERFACE={{ wg_interface }}"
ExecStart=/usr/local/bin/status-update.sh

[Install]
WantedBy=multi-user.target