[Unit]
Description=Update system status information for web dashboard
After=local-fs.target network.target nginx.service
Wants=nginx.service

[Service]
Type=oneshot
Environment="WG_INTERFACE={{ wg_interface }}"
ExecStartPre=/bin/mkdir -p /run/status
ExecStart=/usr/local/bin/status-update.sh

[Install]
WantedBy=multi-user.target