[Unit]
Description=Update system status information every minute
RefuseManualStart=no
RefuseManualStop=no

[Timer]
OnBootSec=10sec
OnUnitActiveSec=10sec
Unit=status-update.service

[Install]
WantedBy=timers.target