[Unit]
Description=Update system status information every minute
RefuseManualStart=no
RefuseManualStop=no

[Timer]
OnBootSec=30sec
OnUnitActiveSec=30sec
Unit=status-update.service

[Install]
WantedBy=timers.target